<link rel="stylesheet" type="text/css" href="/css/home.css">
<script type="text/javascript" src="/js/time.js"></script>
<script>
    function checkPort(portInput) {
        var port = portInput.value
        var portNumber = parseInt(port)
        if (portNumber == NaN) {
            portInput.setCustomValidity("Please enter the port number.")
            return
        }
        if (portNumber % 2 == 1) {
            portInput.setCustomValidity('Please enter an even number.')
            return
        }

        portInput.setCustomValidity('')
    }
</script>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/admin.min.css" rel="stylesheet">

<div id="wrapper">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
    <div class="sidebar-brand-icon">
      <!-- logo image size 16 X 16 -->
    <img class="rounded-circle" src="/img/logo.png" alt="Logo">
    </div>
    <div class="sidebar-brand-text mx-3">stackAxis</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item ">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-mobile"></i>
      <span>Mobile Proxies</span></a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item ">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-check-square "></i>
      <span>Phone Verification</span></a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item ">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-cogs"></i>
        <span>Buy Accounts</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Support
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-envelope-open"></i>
      <span>Support</span></a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link" href="/account">
      <i class="fas fa-fw fa-comments"></i>
      <span>Join Telegram</span></a>
  </li>




  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-5" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Logo  -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/account">
      <div class="sidebar-brand-icon rotate-n-15">

      </div>
      <div class="sidebar-brand-text mx-3">StackAxis</div>
      </a>


      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"> <%= currentUser.username %> </span>
            <img class="img-profile rounded-circle" src="https://i5.walmartimages.com/asr/c42465cc-494b-4f72-b670-273be8a69c48_1.8eb864f278e0e16739f6d05106a6df16.gif?odnHeight=180&odnWidth=180&odnBg=FFFFFF">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->

      <!-- Content Row -->
      <div class="row">
        <form class="form-horizontal" role="form" method="POST" action="/edit_product/<%=list.id%>">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Edit Client Data</h2>
                    <hr>
                </div>
            </div>


                 <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="package">Package</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <select id="package_select" class="form-control" name="package" disabled>
                              <option selected="<%=list.package == '0' ? 'selected' : ''%>" value="0">Package</option>
                              <option selected="<%=list.package == '1' ? 'selected' : ''%>" value="1">Trail</option>
                              <option selected="<%=list.package == '2' ? 'selected' : ''%>" value="2">1 Month</option>
                              <option selected="<%=list.package == '3' ? 'selected' : ''%>" value="3">3 Months</option>
                              <option selected="<%=list.package == '4' ? 'selected' : ''%>" value="4">6 Months</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>


                 <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="gateway">Gateway :</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <!-- <input type="textarea" name="gateway" class="form-control" value="<%=list.gateway%>" id="gateway" placeholder="gateway:port:username:password"
                                required autofocus> -->
                                <select class="form-control" name="gateway">
                                    <% for (var key in gateway) { %>
                                    <option selected="<%=list.package == key.substring(2) ? 'selected' : ''%>" value="<%= key.substring(2) %>"><%= gateway[key].host + ':' + gateway[key].port %></option>
                                    <% }%>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
           <div class="col-md-3 field-label-responsive">
               <label for="port">Port :</label>
           </div>
           <div class="col-md-6">
               <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                       <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                       <input type="number" name="port" class="form-control" value="<%=list.port%>" id="port" placeholder="port" 
                            oninput="checkPort(this)" required autofocus>
                   </div>
               </div>
           </div>
           <div class="col-md-3">
               <div class="form-control-feedback">
                   <span class="text-danger align-middle">
                       <!-- Put e-mail validation error messages here -->
                   </span>
               </div>
           </div>
       </div>
        <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="gateway">Username :</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                  <input type="textarea" name="pusername" class="form-control" value="<%=list.pusername%>" id="pusername" placeholder="port"
                      required autofocus>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-control-feedback">
              <span class="text-danger align-middle">
                  <!-- Put e-mail validation error messages here -->
              </span>
          </div>
      </div>
        </div>
        <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="gateway">Password :<br>( <%=list.ppassword%> )</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                  <input type="password" name="ppassword" class="form-control" value="<%=list.ppassword%>" id="pusername" placeholder="port"
                      required autofocus>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-control-feedback">
              <span class="text-danger align-middle">
                  <!-- Put e-mail validation error messages here -->
              </span>
          </div>
      </div>
        </div>
                 <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="expirydate">expiry Date<br>(<%=list.expiryDate%>)</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="date" name="expirydate" class="form-control" id="expirydate" placeholder="expirydate" value="<%=list.expiryDate%>" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                    </div>
                </div>
            </div>



  <div class="row">
 <div class="col-md-3 field-label-responsive">
     <label for="pusername">Comments</label>
 </div>
 <div class="col-md-6">
     <div class="form-group">
         <div class="input-group mb-2 mr-sm-2 mb-sm-0">
             <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
             <textarea rows="2" cols="60" name="comments" class="form-control" id="pusername" placeholder="Payment status or Comments" required autofocus><%=list.comments%>
</textarea>
         </div>
     </div>
 </div>
 <div class="col-md-3">
     <div class="form-control-feedback">
         <span class="text-danger align-middle">
             <!-- Put e-mail validation error messages here -->
         </span>
     </div>
 </div>
</div>


            <hr>
<input type="hidden" name="createdby" value="<%=currentUser.username;%>">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Edit Product</button>
                </div>
            </div>
        </form>
      </div>
    <!-- /.container-fluid -->


    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

</div>
<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/admin.min.js"></script>
