

  <!-- Dashboard 1 -->

  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <% count=0;list.forEach(list => {
        if(list.isClient=="true"){
          count++;
          }})%>
        <h3><%=count%></h3>

        <p>Total Customers</p>
      </div>
      <div class="icon">

      </div>
      <a href="/add_user" class="small-box-footer">Add Customers <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- dashboard  2-->

  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <% counts=0;collectionTwo.forEach(collectionTwo => {
         counts++;
           })%>
        <h3><%=counts;%><sup style="font-size: 20px"></sup></h3>

        <p>Total support Tickets</p>
      </div>
      <div class="icon">

      </div>
      <a href="/supportrequests" class="small-box-footer">Support Requests <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- dashboard  3-->
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <%  var i=1,countss=0;collectionTwo.forEach(collectionTwo => {
     if(collectionTwo.status=="Pending"){countss++;}

      })%>
        <h3><%=countss%></h3>

        <p>Open Ticket's</p>
      </div>
      <div class="icon">

      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
