

  <!-- Dashboard 1 -->

  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <% count=0;list.forEach(list => {
        if(list.isAdmin=="true"){

count++;
 }})%>
        <h3><%=count%></h3>

        <p>Total Employees</p>
      </div>
      <div class="icon">

      </div>
      <a href="/add_admin" class="small-box-footer">Add Employees <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- dashboard  2-->

  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <% counts=0;collectionTwo.forEach(collectionTwo => {
         counts++;
           })%>
        <h3><%=counts;%><sup style="font-size: 20px"></sup></h3>

        <p>Total support Tickets</p>
      </div>
      <div class="icon">

      </div>
      <a href="/supportrequests" class="small-box-footer">Support Requests <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- dashboard  3-->
  <div class="col-lg-4 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <%  var i=1,countss=0;collectionTwo.forEach(collectionTwo => {
     if(collectionTwo.status=="Pending"){countss++;}

      })%>
        <h3><%=countss%></h3>

        <p>Open Ticket's</p>
      </div>
      <div class="icon">

      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>



<!-- <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul> -->
